<h1>Toutes les fermes</h1>

<ul> <% @farms.each do |farm| %>
  <li> <%= link_to farm.name, farm_path(farm) %> </li>
  <% end %>
</ul>

<% if policy(Farm).create? %>
  <%= link_to "Add farm", new_farm_path %>
<% end %>
