.categories {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.create-farm {
  display: block;
  margin-top: 50px;
}

.wrapper-form {
  height: calc(100vh - 15vh - 30px);
}
