// .container-padded {
//   padding: 50px 500px;
// }

.form-content {
  padding: 30px 100px;
  border: 1px solid $light-gray;
  margin-bottom: 30px;
}

.form-inputs {
  color: $green;
  label {
    font-weight: lighter;
    color: $gray;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.connect-field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.links {
  padding-top: 30px;
  text-align: center;
  justify-content: space-around;
}
