// Specific CSS for your home-page
.container {
  padding: 30px 30px;
  h1 {
    text-align: center;
    color: $gray;
  }
}

.desc {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  color: $gray;
  .image {
    text-align: center;
  }
  h2 {
    font-size: 25px;
    text-align: center;
  }
  p {
    font-size: 15px;
    text-align: justify;
  }
}
.fit {
  object-fit: none;
}
