.banner-show-content {
  color: white;
  text-align: center;
  height: calc(60vh - 30px);
  background-size: cover !important;
  background-position: center;
  padding: 50px;
  h1 {
    margin-bottom: 0;
    font-size: 50px;
    text-shadow: 0px 1px rgb(0, 0, 0);
  }
  p {
    margin-bottom: 30px;
  }
}
.container-show {
  background-color: white;
  color: $gray;
}
.row-show {
  justify-content: space-around;
}
.description {
  text-align: justify;
}
.reservation {
  margin-left: 100px;
}
