.wrapper-show-gray {
  background-color: $light-gray;
}
.banner-show-content {
  h1 {
  margin-bottom: 0;
  }
  p {
    margin-bottom: 30px;
  }
}
.container-show {
  background-color: white;
  color: $gray;
  margin: 0 auto;
}
.row-show {
  justify-content: space-around;
}
.description {
  text-align: justify;
}
.reservation {
  margin-left: 100px;
}
