
  <div class="container-paddedd">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="form-content">
          <div class="form-inputs" >
              <h3>Statut de ma réservation</h3>
            <div class="status">
              <p><%= @booking.accepted %></p>
            </div>
            <div class="cancel-reservation">
              <%= link_to "Annuler la réservation", booking_path(@booking), method: :delete, class: "button-very-green" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<%# if @booking.accepted == "En attente" %>
  <%#= link_to "Accepter", accept_path(@booking), class: "status-accepted" %>
  <%#= link_to "Refuser", decline_path(@booking), class: "status-deleted" %>
<%#= end %>
