.map-layout {
  display: flex;
  align-items: stretch;
}

@media (max-width: 640px) {
  .hidden-mobile {
    display: none;
  }
}

#map {
  width: 600px;
  height: 100vh;
  position: sticky !important;
  top: 0px !important;
  border-radius: 3px;
}

.cards-container {
  padding: 0px 28px;
}
