<div class="footer">
  <div class="footer-copyright">
    This website was made with <i class="fa fa-heart"></i> by Elisa, Eliot, Matthieu and Franklin
  </div>
  <div class="footer-bottom">
    <a href="/" class="logo">
       <img src="#" alt="logo">
    </a>
    <div class="footer-bottom-text">
      <p>2018, Ma Ferme Ephémère</p>
    </div>
  </div>
</div>
