<div class="footer">
  <div class="footer-bottom">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p style="color: #e0e0e0;">This website was made with <i class="fa fa-heart"></i> by Elisa, Elliot, Mathieu and Franklin</p>
    <p style="text-align:-webkit-right; color: #e0e0e0;">Ma ferme éphémère, 2018</p>
  </div>
</div>
