<div class="navbar">
  <a href="/"><img src="#" alt=""></a>
  <div class="navbar-menu">
    <a href="#" class="navbar-menu-item">Fermes Ephémères</a>
    <a href="#" class="navbar-menu-item">Se connecter</a>
    <div class="navbar-menu-item"><a href="#" class="button-very-green">Sign in</a></div>
  </div>
</div>
