<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<a href="#" class="button-light-green">Sign in</a>
<br>
<br>
<br>
<a href="#" class="button-green">Sign in</a>
<br>
<br>
<br>
<a href="#" class="button-very-green">Sign in</a>

 -->
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1455348734739-11d7726c3c80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=788e1f8cb2f36883bba6b2ad79ba6dca&auto=format&fit=crop&w=1267&q=80');">
  <div class="banner-content">
    <h1>Expérimentez la vie à la ferme !</h1>
    <a href="#" class="white-to-green-button btn-lg">Découvrir</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-farm">
        <img src="" class="farm-image" alt="">
        <div class="card-content">
          <h1>Ferme de Roger</h1>
          <p>Ma ferme à moi</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-farm">
        <div class="card-name">
          <h1>Ferme de Roger</h1>
        </div>
        <div class="card-description">
          <p>Ma ferme à moi</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-farm">
        <div class="card-name">
          <h1>Ferme de Pierre</h1>
        </div>
        <div class="card-description">
          <p>Ma ferme à moi</p>
        </div>
      </div>
    </div>
  </div>
</div>
