<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1455348734739-11d7726c3c80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=788e1f8cb2f36883bba6b2ad79ba6dca&auto=format&fit=crop&w=1267&q=80');">
  <div class="banner-content">
    <h1>Ma ferme éphémère</h1>
    <p>Expérimentez la vie à la ferme</p>
    <%= link_to "Découvrir", farms_path, class: "white-to-green-button btn-lg" %>
  </div>
</div>
<!-- ajout de la value proposition ici -->
<div class="wrapper">
  <div class="container">
  <h1>Quelques témoignages</h1>
    <div class="row">
      <div class ="col-xs-12 col-sm-6 col-md-4 desc">
        <div class="description">
          <div class="image">
            <%= image_tag "fermier1.jpeg", class: "big-avatar-circle fit" %>
          </div>
          <div class="content">
            <h2>"Une aventure humaine"</h2>
            <p>Grace à Ma ferme éphémère, j'ai pu partager mon quotidient avec des gens qui avait envie de découvrir ce qu'est s'occuper d'une ferme.</p>
          </div>
        </div>
      </div>
      <div class ="col-xs-12 col-sm-6 col-md-4 desc">
        <div class="description">
          <div class="image">
            <%= image_tag "fermier2.jpeg", class: "big-avatar-circle fit" %>
          </div>
          <div class="content">
            <h2>"Une très belle expérience"</h2>
            <p>Avoir l'opportunité de passer quelques jours en dehors de la ville avec les animaux, voir comment ça marche, et échanger avec les personnes... c'est génial!</p>
            </div>
        </div>
      </div>
      <div class ="col-xs-12 col-sm-6 col-md-4 desc">
        <div class="description">
          <div class="image">
            <%= image_tag "fermier3.jpeg", class: "big-avatar-circle fit" %>
          </div>
          <div class="content">
            <h2>"Des échanges et des rires"</h2>
            <p>S'occuper d'une ferme et d'animaux n'est pas toujours facile, et voir des gens venir vous aider juste parce qu'ils ont envie de passer un peu de temps avec vous ça fait du bien.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-farm">
          <div class="card-photo" style="background-image: linear-gradient(rgba(175,249,201,0.2), rgba(47,91,113,0.8)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-infos">
              <h1>Ferme de Roger</h1>
              <p>Normandie, Calvados (14)</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>
          <div class="card-bottom">
            <p>Située au milieu des bocages Normands, Roger est prêt à vous recevoir quand vous le souhaitez</p>
            <div class="card-bottom-picto">
              <p>Categories</p>
              <p>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-farm">
          <div class="card-photo" style="background-image: linear-gradient(rgba(175,249,201,0.2), rgba(47,91,113,0.8)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-infos">
              <h1>Ferme de Roger</h1>
              <p>Normandie, Calvados (14)</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>
          <div class="card-bottom">
            <p>Située au milieu des bocages Normands, Roger est prêt à vous recevoir quand vous le souhaitez</p>
            <div class="card-bottom-picto">
              <p>Categories</p>
              <p>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-farm">
          <div class="card-photo" style="background-image: linear-gradient(rgba(175,249,201,0.2), rgba(47,91,113,0.8)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-infos">
              <h1>Ferme de Pierre</h1>
              <p>Normandie, Calvados (14)</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>
          <div class="card-bottom">
            <p>Située au milieu des bocages Normands, Roger est prêt à vous recevoir quand vous le souhaitez</p>
            <div class="card-bottom-picto">
              <p>Categories</p>
              <p>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
