// .button-light-green {
//   color: $green;
//   border-radius: 10px;
//   border: 1px solid $green;
//   padding: 5px 10px;
//   background-color: white;
//   font-weight: lighter;
// }

// .button-light-green:hover {
//   opacity: 1;
//   text-decoration: none;
//   color: $green;
//   background-color: $light-green;
//   font-weight: bold;
//   border: none;
// }


.white-to-green-button {
  color: white;
  border-radius: 4px;
  padding: 10px 90px;
  background-color: $green;
  transition: all 0.4s ease;
}

.white-to-green-button:hover {
  text-decoration: none;
  background-color: $green;
  color: white;
  opacity: 0.8;
}

.button-very-green {
  color: white;
  border-radius: 4px;
  border: 1px solid $green;
  padding: 10px 40px;
  background-color: $green;
  transition: all 0.4s ease;
  // font-weight: bold;
}

.button-very-green:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  // background-color: white;
  // font-weight: lighter;
}
