.wrapper {
  background-color: $light-gray
}
.farm-card {
  padding: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 4px;

}
.top-card{
  padding-top: 1em;
  height: 180px;
  background-size: cover !important;
  background-position: center;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.top-card a {
  color: white;
}
.farm-card h1 {
  top: 20px;
}

.bottom-card p {
  padding-top: 10px;
}

.cards-container .col-md-4 {
  padding: 0px;
}



// .card-photo {
//   position: relative;
//   border-radius: 6px;
// }

// .card-photo a {
//   color: white;
// }

.card-user {
  // position: absolute;
  right: 40%;
  top: 20px;
  width: 70px;
  border-radius: 50%;
}

// .card-infos {
//   position: absolute;
//   bottom: 20px;
//   left: 20%;
//   text-align: center;
//   h1 {
//     font-size: 24px;
//   }
//   p {
//     font-size: 16px;
//     opacity: 0.8;
//   }
// }

// .card-bottom {
//   text-align: center;
//   // position: absolute;
//   display: flex;
//   flex-direction: column;
//   left: 100px;
//   color: $gray;
//   // background: linear-gradient($light-green, $green);
//   // background: linear-gradient(to top, $light-green, rgba(0,0,0,0));
//   background-color: white;
//   p {
//    font-size: 16px;
//    opacity: 0.8;
//    margin-top: 20px;
//    margin-bottom: 20px;
//   }
// }

// .card-bottom-picto {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   font-size: 24px;
//   opacity: 0.8;
//   border-top: 1px solid $light-green;
//   p {
//     color: $green;
//   }
// }
