.footer {
  height: 15vh;
  background: $green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-copyright {
  color: white;
  // border-top: 1px solid white;

}

.footer .fa-heart {
  color: #D23333;
}

.footer-bottom > a {
  // display: flex;
  // // text-align: center;
  // justify-content: space-between;
  color: green;
  background-color: $green;
  padding: 0px 10px;
  font-size: 20px;
  // padding-left: 200px;

}

.footer-bottom > a {
  transition: all 0.3s ease;
}


.footer-bottom > a:hover {
  color: $light-gray;
}

.footer p {
  margin-bottom: 0px;
  font-size: 16px;
}
