.footer {
  background: $green;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-copyright {
  color: white;
  border-top: 1px solid white;
  margin-top: 20px;
  padding-top: 15px;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-bottom > a {
  // display: flex;
  // // text-align: center;
  // justify-content: space-between;
  color: green;
  background-color: $green;
  padding: 0 10px;
  font-size: 25px;
  // padding-left: 200px;

}


.footer-bottom > a:hover {
  color: white;
}
