.footer {
  background: $green;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-copyright {
  color: white;
  border-top: 1px solid white;
  margin-top: 20px;
  padding-top: 15px;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-bottom {
  display: flex;
  // text-align: center;
  justify-content: space-between;
  color: white;
  // padding-left: 200px;
  width: 100%;
  p {
    opacity: 0.6;
    font-weight: lighter;
  }
}
